.location {
  margin-top: 32px;

  &__form {
    max-width: 320px;

    &-input {
      position: relative;

      &-select {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        width: 220px;
      }
    }

    &-city {
      margin-bottom: 14px;
      margin-left: 54px;
    }
  }

  &__map {
    margin: 45px 0;

    font-size: rem(14px);
    line-height: rem(16px);
    font-weight: 300;

    &-text {
      margin-bottom: 16px;
    }
  }
}
