.order {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mediaMin($mobile) {
    padding-left: 86px;
  }

  @include mediaMin($laptop) {
    padding-left: 66px;
  }

  &__container {
    padding-top: 0;
    padding-bottom: 0;

    @include mediaMin($laptop) {
      height: 100%;
    }
  }
}
