.order {
  height: 100%;

  @include mediaMin($mobile) {
    padding-left: 86px;
  }

  @include mediaMin($laptop) {
    padding-left: 66px;
  }

  &__breadcrumbs {
    border-top: 1px solid $border-color-gray-light;
    border-bottom: 1px solid $border-color-gray-light;

    &-container {
      padding: 0;

      @include mediaMin($mobile) {
        padding: 0 16px;
      }

      @include mediaMin($laptop) {
        padding: 0 48px;
      }
    }
  }
}
