.order-settings {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__breadcrumbs {
    border-top: 1px solid $border-color-gray-light;
    border-bottom: 1px solid $border-color-gray-light;

    &-container {
      padding: 0;

      @include mediaMin($mobile) {
        padding: 0 16px;
      }

      @include mediaMin($desktop) {
        padding: 0 48px;
      }
    }
  }

  &__content {
    margin-top: 16px;
    padding-top: 0;
    padding-bottom: 0;

    @include mediaMin($laptop) {
      display: flex;
      height: 100%;
      margin-top: 0;

      &-left {
        width: 60%;
      }

      &-right {
        width: 40%;
        margin-left: 30px;
      }
    }

    @include mediaMin($desktop) {
      grid-template-columns: 1fr 0.5fr;
    }
  }
}
