.order-settings {
  margin-top: 16px;

  @include mediaMin($laptop) {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 30px;
    height: 100%;
    margin-top: 0;
  }

  @include mediaMin($desktop) {
    grid-template-columns: 1fr 0.35fr;
  }
}