.home {
  display: flex;
  height: 100%;

  &__left {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;

    @include mediaMin($mobile) {
      justify-content: space-between;
      padding-left: 118px;
    }

    @include mediaMin($laptop) {
      padding-left: 98px;
      width: 60%;
    }

    @include mediaMin($desktop) {
      width: 50%;
    }

    &-header {
      margin-bottom: 34px;
    }

    &-footer {
      margin: auto -16px -16px;
      padding: 16px;

      @include mediaMin($mobile) {
        margin: 0;
        padding: 0;
      }
    }
  }

  &__right {
    display: none;

    @include mediaMin($laptop) {
      display: block;
      width: 40%;
    }

    @include mediaMin($desktop) {
      width: 50%;
    }
  }
}
