.home {
  display: flex;
  height: 100%;

  &__left {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;

    @include mediaMin($mobile) {
      justify-content: space-between;
      padding-left: 86px;
    }

    @include mediaMin($laptop) {
      padding-left: 66px;
      width: 60%;
    }

    @include mediaMin($desktop) {
      width: 50%;
    }

    &-footer {
      margin-top: auto;

      @include mediaMin($mobile) {
        margin-top: 0;
      }
    }
  }

  &__right {
    display: none;

    @include mediaMin($laptop) {
      display: block;
      width: 40%;
    }

    @include mediaMin($desktop) {
      width: 50%;
    }
  }
}
