// =============================================================================
// Font Face (https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6)
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_'),
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
    font-display: swap; // add this line
  }
}

// Media
@mixin mediaMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin mediaMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// Cursor
@mixin defaultCursor() {
  cursor: url('../images/svg/cursor/default.svg'), default;
}

@mixin pointerPointer() {
  cursor: url('../images/svg/cursor/pointer.svg'), pointer;
}

// Gradient Effect Button
@mixin gradientEffect($fromColor, $toColor, $percentFrom: 0%, $percentTo: 100%) {
  background: linear-gradient(90deg, $fromColor $percentFrom, $toColor $percentTo);

  &::before {
    background: linear-gradient(90deg, mix(black, $fromColor, 15%) $percentFrom, mix(black, $toColor, 15%) $percentTo);
  }

  &:hover::before,
  &:focus-visible::before {
    background: linear-gradient(90deg, mix(black, $fromColor, 15%) $percentFrom, mix(black, $toColor, 15%) $percentTo);
    opacity: 1;
  }

  &:active::after {
    background: linear-gradient(90deg, mix(black, $fromColor, 30%) $percentFrom, mix(black, $toColor, 30%) $percentTo);
    opacity: 1;
  }
}