.model {
  margin-top: 32px;

  &__filter {
    display: flex;
    margin-bottom: 48px;
  }

  &__cards {
    @include mediaMin($mobile) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
