.link {
  font-size: rem(13px);
  line-height: rem(15px);

  transition: color 0.3s;

  &--disabled {
    color: $text-color-gray;
    pointer-events: none;
  }

  &--black {
    color: $text-color-basic;

    &:hover {
      color: $text-color-accent-green;
    }
  }

  &--white {
    color: $text-color-gray-light;

    &:hover {
      color: $text-color-accent-green;
    }
  }

  &--green {
    color: $text-color-accent-green;

    &:hover {
      color: $text-color-gray-light;
    }
  }
}
